
github "revenuecat/purchases-ios" "3.7.3"
github "TimOliver/TOCropViewController"
github "vikmeup/SCLAlertView-Swift" "master"
github "dzenbot/DZNEmptyDataSet"
github "kean/Nuke"
github "WenchaoD/FSCalendar"


binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseAnalyticsBinary.json" == 7.0.0
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseAuthBinary.json" == 7.0.0
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseFirestoreBinary.json" == 7.0.0
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseStorageBinary.json" == 7.0.0
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseMessagingBinary.json" == 7.0.0
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseProtobufBinary.json" == 7.0.0

binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseABTestingBinary.json" == 7.0.0
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseAdMobBinary.json" == 7.0.0
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseCrashlyticsBinary.json" == 7.0.0
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebasePerformanceBinary.json" == 7.0.0
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseRemoteConfigBinary.json" == 7.0.0
